<?xml version="1.0" encoding="UTF-8"?>
<phpunit  bootstrap="bootstrap_phpunit.php">
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Integration">
            <directory>Tests/Integration</directory>
        </testsuite>
        
        <testsuite name="Functional">
            <directory>Tests/Functional</directory>
        </testsuite>
    </testsuites>
    
</phpunit>